__pycache__/*
*.xml
*.xml
.idea/*
server/.vs/*
server/Debug/*
server/x64/*
server/*.sln
server/*.filters
server/*.user
*.vcxproj
.idea/workspace.xml
server/.vs/Prserveroj_PR_serv/v17/.suo
client/Boards/__pycache__/*

server/a.out
client/Networking/__pycache__/*
server/.vscode/settings.json
server/.vscode/c_cpp_properties.json
server/main
server/bioz/*
*.pyc
client/.idea/Proj_PR.iml
